body {
	background: #000;
	background-size: cover;
	font-family: Helvetica;
	color: #fff;
	text-align: center;
}

.container {
	position: relative;
}

.textbox {
	position: absolute;
	top: 20%;
	left: 20%;
	padding: 40px;
	padding-top: 20px;
	background: rgba(0,0,0,0.4);
}


h1 {
	color: white;
	font-family: Helvetica;
	font-weight: bold;
}

hr {
	width: 250px;
}

#slogan {
	font-style: italic;
}

#about {
	font-size: 14px;
	text-transform: thin;
}

#popup-link {
	color: yellow;

}

ul {
	list-style-type: none;
}

a {
	font-family: Helvetica;
	color: rgba(250,250,250,0.5);
	font-size: 20px;
}